# Ignore large datasets and model weights
*.zip
*.tar
*.tar.gz
*.pt
*.pth
*.h5
*.npy
*.pkl

# Ignore wandb experiment logs
wandb/

# Ignore Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
